.space {
    transition: 0.3s;
    flex-grow:1;
    border: 1px solid gray;
}

#main-wrapper{
    display:flex;
}

#button-holder{
    display:flex;
    flex-direction: column;
    margin-top:auto;
    margin-bottom:auto;
    width: 200px;
}

#grid{
    display:flex;
    flex-direction:column;
    margin: 20px;
    width:80vh;
    height:80vh;
    border: 30px solid red;
    border-radius: 10px;

}

#grid div {
    display:flex;
    flex-grow:1;

}

.space-hovered{
    background-color: black;
}

button{
    background-color:white;
    margin: 5px;
    border: 1px black solid;
    padding: 4px;
    border-radius:  3px;
    font-size: 20px;
}

.active-mode{
    background-color: lightgray;
    color: black;
}

#dimension-number{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

@keyframes shake {
    0% { transform:  rotate(0deg); }
    10% { transform: rotate(-4deg); }
    20% { transform: rotate(4deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(4deg); }
    50% { transform: rotate(-4deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-4deg); }
    80% { transform: rotate(4deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-4deg); }
  }

.grid-shake {
    animation: shake 0.25s;
}