.space {
    transition: 0.3s;
    flex-grow:1;
    border: 1px solid gray;
}

#main-wrapper{
    display:flex;
}

#button-holder{
    display:flex;
    flex-direction: column;
    margin-top:auto;
    margin-bottom:auto;
}

#grid{
    display:flex;
    flex-direction:column;
    margin: 20px;
    width:80vh;
    height:80vh;
    border: 30px solid red;
    border-radius: 10px;

}

#grid div {
    display:flex;
    flex-grow:1;

}

.space-hovered{
    background-color: black;
}

button{
    background-color:white;
    margin: 5px;
    border: 1px black solid;
    padding: 4px;
    border-radius:  3px;
    font-size: 20px;
}

.active-mode{
    background-color: lightgray;
    color: black;
}